name: Sync to Gitee

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync GitHub to Gitee
        uses: Yikun/hub-mirror-action@master
        with:
          src: github/guoruqiang
          dst: gitee/guo-ruqiang
          dst_token: ${{ secrets.GITEE_TOKEN }}
          static_list: "NWAFU-thesis-GB7714-2015-author-date-csl"
          force_update: true
          debug: true

